body{
	padding-top: 5rem;
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 2.5;
	color:	#212529;
	text-align: left;
	background-color: #fff;
}

*,::after,::before{
	box-sizing: border-box;
}

table{
	font-size: 2em;
	font-weight: 400;
}