body{
	padding-top: 5rem;
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 2.5;
	background-color: black; 
	color: #b7a57a;
	text-align: center;
}

*,::after,::before{
	box-sizing: border-box;
}

table{
	font-size: 1.25em;
	font-weight: 400;
	border: 2px solid #85754d;
}

tbody{
	font-size: 2em;
}

.jumbo-header{
	background-color: #85754d;
	color: #fff;
}

td{
	background-color: #85754d;
	color: #fff;
	font-size: 1.75em;
}

hr{
	border-top: 1px solid #85754d;
}

h1{
	text-align: center;
}