body{
  padding-top: 5rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5;
  background-color: black; 
  color: white;
  text-align: center;
}

*,::after,::before{
  box-sizing: border-box;
}

table{
  font-size: 1.25em;
  font-weight: 400;
  border: 2px solid #4286f4;
}

tbody{
  font-size: 2em;
}

.jumbo-header{
  background-color: silver;
  color: black;
}

td{
  background-color: white;
  color: black;
  font-size: 0.85em;
}

.gray-out{
  color: gray;
}

.gray-header{
  background-color: silver;
  color: black;
}

hr{
  border-top: 1px solid silver;
}

h1{
  text-align: center;
}

img{
  height: 42px;
  width: 42px;
}

b{
  font-size: 0.8em;
}

span {
  color: royalblue;
}