body{
	transform: scale(.75);
	transform-origin: 0 0;
}

#flag{
	border: 1px solid black;
	width: 1500px;
	height: 700px;
	border-spacing: 0;
	border-collapse: separate;
}
		
#starcell{
	background-color: #3A3C6E;
	width: 500px;
	vertical-align: middle;
}

#stars{
	width: 100%;
	line-height: 40px;
	font-size: 190%;
	color: #FCFFFE;
}

.red_stripe{
	background-color: #B12233;
	height: 55px;
}

.white_stripe{
	background-color: #FCFFFE;
	height: 55px;
}

table tr:nth-child(n+8) {
	height: auto;
}

table tr:nth-child(n+14) {
	display: none;
}