/*
Use bootstrap CSS and MDN to determine how to style your dashboard to provide
(for example) striped rows for each flight.
*/
body{
	padding-top: 5rem;
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 2.5;
	color:	#212529;
	text-align: left;
	background-color: black;
}

*,::after,::before{
	box-sizing: border-box;
}

table{
	font-size: 1.25em;
	font-weight: 400;
}

h1{
	text-align: center;
	color: black;
}