
body{
	padding-bottom: 20px;
}

.container-jumbotron{
	display: inline-block;
	padding-right: 0 ;
	padding-left: 0;
}

.gallery{
	padding-right: 10px;
	padding-left: 10px;
}

.frame-left{
	border: 1px solid lightgray;
	text-align: center;
}

.frame-center{
	border: 1px solid lightgray;
	text-align: center;
	padding-bottom: 30px;
}

.frame-right{
	border: 1px solid lightgray;
	text-align: center;
}

article{
	font-family: calibri, sans-serif;
}

.box-jumbotron{
	font-family: arial, serif;
}

table{
	margin: auto;
	border: 3px solid black;
}

td
{
	border: 1px dashed lightgray;
	padding: 1px;
}

img{
	width: 375px;
	height: 375px;
	max-width: 375px;
	max-height: 375px;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}

footer{
	padding: 30px;
	font-size: 0.75em;
	font-style: italic;
	color: gray;
}