/*Provide some creative northwest styling to your stock 
report web page dashboard*/
body{
	padding-top: 5rem;
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 2.5;
	background-color: #4b2e83; 
	color: #b7a57a;
	text-align: left;
	/*background-color: black;*/
}

*,::after,::before{
	box-sizing: border-box;
}

table{
	font-size: 1.25em;
	font-weight: 400;
	border: 2px solid #85754d;
}

tbody{
	font-size: 1.5em;
}

.jumbo-header{
	background-color: #85754d;
	color: #fff;
}

th{
	background-color: #85754d;
	color: #fff;
}

hr{
	border-top: 1px solid #85754d;
}